.about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	margin-top: 150px;
	margin-bottom: 200px;
	.about__img {
		cursor: pointer;

		img {
			width: 400px;
			height: auto;
			filter: grayscale(80%);
			transition: .5s;
		}
	}
	.about__img:hover {
		img {
			filter: grayscale(30%);
		}
	}
	.about__content {
		width: 400px;
		font-size: 1.5rem;
		color: #fce205;
	}
}

@media screen and (max-width: 768px) {
	.about {
		flex-direction: column;
		.about__img {
			img {
				width: 500px;
				height: auto;
			}
		}
		.about__content {
			width: 500px;
		}
	}
}

@media screen and (max-width: 415px) {
	.about {
		.about__img {
			img {
				width: 300px;
			}
		}
		.about__content {
			width: 300px;
		}
	}
}