.about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	margin-top: 200px;
	margin-bottom: 200px;
	.about__img {
		position: relative;
		width: 400px;
		height: 500px;
		width: 400px;
		cursor: pointer;

		img {
			width: 400px;
			height: auto;
			filter: grayscale(80%);
			transition: .5s;
		}
	}
	.about__img:hover {
		img {
			width: 410px;
			height: auto;
			filter: grayscale(30%);

		}
	}
	.about__content {
		width: 400px;
		font-size: 1.5rem;
		color: #fce205;
	}
}